/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0;padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
/* -------------------- */

/* ---------------------------------------------------------------------------*/
/*                                BASE STYLES                                 */
/* ---------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

*:hover {
  transition: all 0.3s ease-out;
}

body {
  background: #171719;
  color: #E7E7E7;
  display: flex;
  flex-direction: column;
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: .038rem;
  padding: 32px;
  min-height: 100vh;
}

h1, h2, h4, h5 {
  text-transform: uppercase;
  letter-spacing: .062rem;
}

h1 {
  font-weight: 900;
}

h3 {
  font-size: 1.62rem;
  font-weight: 900;
  letter-spacing: .062rem;
}

h4 {
  color: #808080;
  font-weight: 400;
}

a {
  color: #C8A664;
  text-decoration: none;
}

a:hover {
  color: #00AAFF;
  text-decoration: underline;
  text-shadow: 0px 0px 16px 4px rgba(0,106,255,1);
}

em {
  font-weight: 900;
}

header h1 {
  color: #E7E7E7;
  text-align: center;
  font-size: 1.38rem;
  margin: 32px 0 64px;
}

.deck {
  display: flex;
  flex-flow: column wrap;
}

.aspect-col {
  margin: 0 auto 96px;
  width: 100%;
  max-width: 480px;
}

.card {
  background: #272729;
  border-radius: 8px;
  box-shadow: 0px 2px 16px 2px rgba(0,0,0,.5), inset 0.5px 1px 1px rgba(255,255,255,.09);
  margin: 0 auto 32px;
  padding: 16px;
}

/* .card:hover {
  background: #232329;
  cursor: pointer;
} */

.card h2 {
  text-align: center;
  font-weight: 900;
}

/* .card:hover h2{
  color: #00AAFF;
  text-shadow: 0px 0px 16px 4px rgba(0,106,255,1);
} */

.card h5 {
  border: 2px solid #C8A664;
  border-radius: 4px;
  box-shadow:
    1px 1px 1px rgba(255,255,255,.09),
    -1px -1px 1px rgba(0,0,0,.24),
    inset 2px 2px 1px rgba(255,255,255,.09),
    inset -2px -2px 1px rgba(0,0,0,.24);
  color: #C8A664;
  font-weight: 900;
  /* min-height: 256px; */
  /* margin: 0 0 16px; */
  padding: 16px;
  text-align: center;
  text-shadow:
    1px 1px 1px rgba(255,255,255,.09),
    -1px -1px 1px rgba(0,0,0,.24);
}

/* .card:hover h5 {
  border-color: #00AAFF;
  box-shadow: 0px 0px 24px rgba(0,106,255,1), inset 0px 0px 16px rgba(0,106,255,1);
  color: #00AAFF;
  text-shadow: 0px 0px 16px 4px rgba(0,106,255,1);
} */

.card-details p {
  margin: 16px 0 0;
}

nav.brand-nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.brand-nav li {
  width: 50%;
}

.brand-nav a {
  display: block;
  height: 32px;
  font-size: 1.24rem;
  margin-top: 24px;
}

.brand-nav a:hover {
  transition: all 0.3s ease-out;
}

.brand-nav a::before {
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 4px;
  display: inline-block;
  background-color: #C8A664;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  vertical-align: middle;
}

.brand-nav a:hover::before {
  background-color: #00AAFF;
  box-shadow: 0px 0px 24px rgba(0,106,255,1);
  transition: all 0.3s ease-out;
}

.twitter::before {background-image: url(../images/icon-twitter.svg);}
.dribbble::before {background-image: url(../images/icon-dribbble.svg);}
.medium::before {background-image: url(../images/icon-medium.svg);}
.tumblr::before {background-image: url(../images/icon-tumblr.svg);}
.discord::before {background-image: url(../images/icon-discord.svg);}
.github::before {background-image: url(../images/icon-github.svg);}
.site::before {background-image: url(../images/icon-site.svg);}
.procreate::before {background-image: url(../images/icon-procreate.svg);}
.itch::before {background-image: url(../images/icon-itch.svg);}
.vsco::before {background-image: url(../images/icon-vsco.svg);}
.society6::before {background-image: url(../images/icon-society6.svg);}
.figma::before {background-image: url(../images/icon-figma.svg);}

footer {
  color: #808080;
  font-size: .62rem;
  margin-bottom: 64px;
  text-align: center;
}

footer h1 {
  display: none;
}

footer blockquote {
  text-transform: uppercase;
}

small {
  display: block;
  margin: 16px;
}

footer .tria-prima {
  display: block;
  margin: 16px auto;
  opacity: .5;
}

/* footer a.theme-toggle {
  border: solid 1.5px #FFF;
  border-radius: 50%;
  display: block;
  margin: 32px auto;
  opacity: .5;
  padding: 8px;
  width: 32px;
}

footer a.theme-toggle:hover {
  box-shadow: 0px 0px 24px rgba(255,255,255,.5), inset 0px 0px 16px rgba(255,255,255,.5);
  opacity: 1;
} */

/* ---------------------------------------------------------------------------*/
/*                            CONTENT BREAK ONE                               */
/* ---------------------------------------------------------------------------*/

@media (min-width: 800px) {
  h1 {
    color: #808080;
    text-align: left;
  }

  header h1 {
    display: none;
  }

  .deck {
    display: flex;
    flex-flow: row nowrap;
  }

  .aspect-col {
    margin: 0 16px;
    width: 33.333%;
    max-width: none;
  }

  #planner {margin-left: 0;}
  #builder {margin-right: 0;}

  .card-details p {
    margin: 16px 0;
  }

  .brand-nav a {
    font-size: 1rem;
    margin-top: 16px;
  }

  .brand-nav a:before {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-top: auto;
    margin-bottom: 0;
    /* width: 100%; */
  }

  footer h1 {
    display: block;
    font-size: 1.24rem;
    min-width: 24%;
  }

  footer section {
    min-width: 24%;
  }

  blockquote, small {
    margin: 0;
    padding: 0;
  }
}

/* ---------------------------------------------------------------------------*/
/*                            CONTENT BREAK TWO                               */
/* ---------------------------------------------------------------------------*/

@media (min-width: 960px) {
  body {
    padding: 64px;
  }

  .aspect-col {
    margin: 0 32px;
  }

  footer {
    bottom: 32px;
  }

  footer h1 {
    font-size: 1.38;
  }
}

/* ---------------------------------------------------------------------------*/
/*                            CONTENT BREAK THREE                             */
/* ---------------------------------------------------------------------------*/

@media (min-width: 1440px) {
  body {
    max-width: 1600px;
    padding: 128px 128px 160px;
    margin: 0 auto;
  }

  .aspect-col {
    margin: 0 64px;
  }

  footer {
    bottom: 128px;
  }
}

/* ---------------------------------------------------------------------------*/
/*                                HEIGHT BREAKS                               */
/* ---------------------------------------------------------------------------*/

@media (max-height: 800px) {
  footer {margin-top: 32px;}
}

@media (max-height: 870px) {
  footer {margin-top: 64px;}
}

@media (max-height: 1000px) {
  footer {margin-top: 96px;}
}
