/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain) */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin: 0;padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}
/* -------------------- */

/* ---------------------------------------------------------------------------*/
/*                           VARIABLE DEFINITIONS                             */
/* ---------------------------------------------------------------------------*/

:root {
/* Black Values */
  --cosmos-darkest: #161517;
  --cosmos-dark: #252326;
  --cosmos: #3B383D;
  --cosmos-bright: #5E5861;
  --cosmos-brightest: #7C7480;
/* White Values */
  --mercury-darkest: #B0AAB2;
  --mercury-dark: #D5CED9;
  --mercury: #EEE6F2;
  --mercury-bright: #FAF5FC;
  --mercury-brightest: #FFFFFF;
/* Gold Values */
  --sulphur-darkest: #99633D;
  --sulphur-dark: #B28150;
  --sulphur: #CCA266;
  --sulphur-bright: #E5C37E;
  --sulphur-brightest: #FFE599;
/* Blue Values */
  --salt-darkest: #0055FF;
  --salt-dark: #0080FF;
  --salt: #00AAFF;
  --salt-bright: #00D4FF;
  --salt-brightest: #80FFFF;
/* Gradients */
  --radial-void: radial-gradient(ellipse at top, rgba(59,56,61,1) 0%, rgba(22,21,23,1) 100%);
  --radial-coal: radial-gradient(ellipse at top, rgba(59,56,61,1) 0%, rgba(37,35,38,1) 100%);
  --radial-medallion: radial-gradient(circle at top, rgba(255,229,153,1) 0%, rgba(178,129,80,1) 100%);
  --radial-mana: radial-gradient(circle at bottom, rgba(128,255,255,1) 0%, rgba(0,128,255,1) 100%);
  --radial-sapphire: radial-gradient(circle at top, rgba(128,255,255,1) 0%, rgba(0,170,255,1) 25%, rgba(0,85,255,1) 75%, rgba(0,128,255,1) 100%);
  --linear-foil: linear-gradient(180deg, rgba(255,229,153,1) 0%, rgba(204,162,102,1) 33%, rgba(229,195,126,1) 67%, rgba(153,99,61,1) 100%);
  --linear-casting: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(0,170,255,1) 100%);
}

/* ---------------------------------------------------------------------------*/
/*                                BASE STYLES                                 */
/* ---------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

*:hover {
  transition: all 0.2s ease-out;
}

body {
  background: var(--radial-void);
  background-repeat: no-repeat;
  color: var(--mercury);
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: .038rem;
}

#wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px;
  min-height: 100vh;
}

h1, h2, h4, h5 {
  text-transform: uppercase;
  letter-spacing: .062rem;
}

h1 {
  font-weight: 900;
}

h3 {
  font-size: 1.62rem;
  font-weight: 900;
  letter-spacing: .062rem;
}

h4 {
  color: var(--cosmos-brightest);
  font-weight: 600;
}

a {
  color: var(--sulphur);
  text-decoration: none;
}

a:hover {
  color: var(--salt);
  text-decoration: underline;
  text-shadow: 0px 0px 16px 4px var(--salt);
}

em {
  font-weight: 900;
}

header h1 {
  color: var(--mercury-dark);
  text-align: center;
  font-size: 1.38rem;
  margin: 32px 0 64px;
}

.deck {
  display: flex;
  flex-flow: column wrap;
}

.aspect-col {
  margin: 0 auto 96px;
  width: 100%;
  max-width: 480px;
}

.card {
  background: var(--radial-coal);
  border-radius: 16px;
  box-shadow: 0px 4px 16px 2px rgba(0,0,0,.24), inset 0.5px 1px 1px rgba(255,255,255,.09);
  margin: 0 auto 32px;
  padding: 16px;
}

.card h2 {
  text-align: center;
  font-weight: 900;
}

.card h5 {
  border: 2px solid var(--sulphur);
  border-radius: 6px;
  box-shadow:
    1px 1px 1px rgba(255,255,255,.09),
    -1px -1px 1px rgba(0,0,0,.24),
    inset 2px 2px 1px rgba(255,255,255,.09),
    inset -2px -2px 1px rgba(0,0,0,.24);
  color: #C8A664;
  font-weight: 900;
  /* min-height: 256px; */
  /* margin: 0 0 16px; */
  padding: 16px;
  text-align: center;
  text-shadow:
    1px 1px 1px rgba(255,255,255,.09),
    -1px -1px 1px rgba(0,0,0,.24);
}

.card-details p {
  margin: 16px 0 0;
}

nav.brand-nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.brand-nav li {
  width: 50%;
}

.brand-nav a {
  display: block;
  height: 32px;
  font-size: 1.24rem;
  font-weight: 600;
  margin-top: 24px;
}

.brand-nav a:hover {
  transition: all 0.3s ease-out;
}

.brand-nav a::before {
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 50%;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  vertical-align: middle;
}

.brand-nav a:hover::before {
  box-shadow: 0px -4px 16px rgba(0,128,255,1);
  transition: all 0.3s ease-out;
}

.twitter::before {background-image: url(../images/icon-twitter.svg), var(--radial-medallion);}
.dribbble::before {background-image: url(../images/icon-dribbble.svg), var(--radial-medallion);}
.medium::before {background-image: url(../images/icon-medium.svg), var(--radial-medallion);}
.tumblr::before {background-image: url(../images/icon-tumblr.svg), var(--radial-medallion);}
.discord::before {background-image: url(../images/icon-discord.svg), var(--radial-medallion);}
.github::before {background-image: url(../images/icon-github.svg), var(--radial-medallion);}
.site::before {background-image: url(../images/icon-site.svg), var(--radial-medallion);}
.procreate::before {background-image: url(../images/icon-procreate.svg), var(--radial-medallion);}
.itch::before {background-image: url(../images/icon-itch.svg), var(--radial-medallion);}
.vsco::before {background-image: url(../images/icon-vsco.svg), var(--radial-medallion);}
.society6::before {background-image: url(../images/icon-society6.svg), var(--radial-medallion);}
.figma::before {background-image: url(../images/icon-figma.svg), var(--radial-medallion);}
.kofi::before {background-image: url(../images/icon-kofi.svg), var(--radial-medallion);}

.twitter:hover::before {background-image: url(../images/icon-twitter.svg), var(--radial-mana);}
.dribbble:hover::before {background-image: url(../images/icon-dribbble.svg), var(--radial-mana);}
.medium:hover::before {background-image: url(../images/icon-medium.svg), var(--radial-mana);}
.tumblr:hover::before {background-image: url(../images/icon-tumblr.svg), var(--radial-mana);}
.discord:hover::before {background-image: url(../images/icon-discord.svg), var(--radial-mana);}
.github:hover::before {background-image: url(../images/icon-github.svg), var(--radial-mana);}
.site:hover::before {background-image: url(../images/icon-site.svg), var(--radial-mana);}
.procreate:hover::before {background-image: url(../images/icon-procreate.svg), var(--radial-mana);}
.itch:hover::before {background-image: url(../images/icon-itch.svg), var(--radial-mana);}
.vsco:hover::before {background-image: url(../images/icon-vsco.svg), var(--radial-mana);}
.society6:hover::before {background-image: url(../images/icon-society6.svg), var(--radial-mana);}
.figma:hover::before {background-image: url(../images/icon-figma.svg), var(--radial-mana);}
.kofi:hover::before {background-image: url(../images/icon-kofi.svg), var(--radial-mana);}

footer {
  color: var(--cosmos-brightest);
  font-size: .62rem;
  margin-bottom: 64px;
  text-align: center;
}

footer h1 {
  display: none;
}

footer blockquote {
  text-transform: uppercase;
}

small {
  display: block;
  margin: 16px;
}

footer #triutum {
  background: none;
  border: none;
  padding: 0;
  z-index: 9001;
}

footer #triutum:hover {
  cursor: pointer;
}

footer .triutum-glyph {
  display: block;
  margin: 16px auto;
}

/* ---------------------------------------------------------------------------*/
/*                              TRIUTUM MODAL                                 */
/* ---------------------------------------------------------------------------*/

#triutum-modal {
  background: rgba(22,21,23,.62);
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 32px;
  top: 0;
  left: 0;
  text-align: center;
  text-shadow: 0px 2px 8px rgba(0,0,0,1);

  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in;
}

#triutum-modal section {
  max-width: 640px;
  margin: 64px auto 0;
}

#triutum-modal section > p {
  margin: 64px 0;
  font-size: 1.47rem;
}

#triutum-modal figure {
  color: var(--mercury-darkest);
  max-width: 480px;
  margin: 0 auto;
}

figure blockquote, cite {
  font-style: italic;
}

figcaption {
  font-size: .77rem;
  margin-top: 16px;
}

cite a { color: var(--mercury-darkest); }
cite a:hover { color: var(--mercury-brightest); }

.dialogIsOpen #wrapper { filter: blur(16px); }
.dialogIsOpen #triutum-modal { opacity: 1; pointer-events: auto; }
.dialogIsOpen #triutum-modal section { margin: 0 auto; transition: all 0.4s ease-out; }

/* ---------------------------------------------------------------------------*/
/*                            CONTENT BREAK ONE                               */
/* ---------------------------------------------------------------------------*/

@media (min-width: 800px) {
  h1 { color: var(--cosmos-brightest); text-align: left; }
  header h1 { display: none; }
  .deck { display: flex; flex-flow: row nowrap; }
  .aspect-col { margin: 0 16px; width: 33.333%; max-width: none; }
  #planner {margin-left: 0;}
  #builder {margin-right: 0;}
  .card-details p { margin: 16px 0; }
  .brand-nav a { font-size: 1rem; margin-top: 24px; }
  .brand-nav a:before { width: 32px; height: 32px; margin-right: 12px; }
  footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-top: auto;
    margin-bottom: 0; }
  footer h1 {
    display: block;
    font-size: 1.24rem;
    min-width: 24%; }
  footer section { min-width: 24%; }
  blockquote, small { margin: 0; padding: 0; }
}

/* ---------------------------------------------------------------------------*/
/*                            CONTENT BREAK TWO                               */
/* ---------------------------------------------------------------------------*/

@media (min-width: 960px) {
  #wrapper { padding: 64px; }
  .aspect-col { margin: 0 32px; }
  footer { bottom: 32px; }
  footer h1 { font-size: 1.38; }
  #triutum-modal { padding: 64px; }
}

/* ---------------------------------------------------------------------------*/
/*                            CONTENT BREAK THREE                             */
/* ---------------------------------------------------------------------------*/

@media (min-width: 1440px) {
  body { max-width: 1600px; margin: 0 auto; }
  #wrapper { padding: 128px 128px 160px; }
  .aspect-col { margin: 0 64px; }
  footer { bottom: 128px; }
  #triutum-modal { padding: 128px; }
}

/* ---------------------------------------------------------------------------*/
/*                                HEIGHT BREAKS                               */
/* ---------------------------------------------------------------------------*/

@media (max-height: 800px) {
  footer {margin-top: 32px;}
}

@media (max-height: 870px) {
  footer {margin-top: 64px;}
}

@media (max-height: 1000px) {
  footer {margin-top: 96px;}
}
